*{
    margin:0;
    padding:10px 10px 10px;
}

body {
    heigth:100vh;
    box-sizing:border-box;
    background-color:SteelBlue;
    color:white;
    
}

.destaque {color:darkblue;
}

.texto{
    margin:5%;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.textofilhote{
    width:650px;
}
